extends layout

block content
  h1 #{title}
  
  
  p  #{group.summary}
  hr
  h4 #[strong Musicians:]
  ul
  each musician in group.musicians
    li
      a(href=musician.url) #{musician.full_name}
  
  
  hr
  //- p
  //-   a(href=group.url+'/delete') Delete Group
  p
    a(href=group.url+'/update') Update Group
