extends layout

block content
  div(class='row')  
    div(class='col-sm-7')
      h1 #{musician.full_name}
      p #{musician.date_of_birth_formatted} - #{musician.date_of_death_formatted}
    div(class='col-sm-3' style='margin-top:25px')
      p
        a(href=musician.url+'/update') Edit Musician
        br
      if user!==undefined
        p(style='margin-top: 7px')  
          a(href=musician.url+'/delete') Delete musician

  div(style='margin-left:20px margin-top:20px')
    
    h3 Biography
    p #{musician.biography}
    
    h3 Instruments
    ul
    each instrument in musician_instruments
      li
        a(href=instrument.url) #{instrument.name}
    
    h3 Groups
    dl
    each group in musician_groups
      dt
        a(href=group.url) #{group.name}
      dd #{group.summary}

    else
      p This musician has no groups.
    
    h3 Anecdotes
    p #{musician.anecdotes}

  hr

  

block pictures
  div(style='margin-left:8px  margin-top:20px  margin-right: 8px')
  if photo===undefined
    p This musician doesn't have any photos yet
  else
    img(src=(photo))
    
  hr
  a(href='/upload') Upload photos of this musician
