extends layout

block content
  h1= 'All musicians in the Nyogopedia'

  ul
  each musician in musician_list
    li
      h4
        a(href=musician.url) #{musician.full_name + ' '} 
        | (#{musician.date_of_birth_formatted} - #{musician.date_of_death_formatted})

  else
    li There are no musicians.
